@charset "UTF-8";
/* CSS Document */
body
{
	font-family: montserrat, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	margin: 0;
	/* ma-shan-zheng-regular - latin */
}
/*début header*/
header
{
	width: 100%;
	height: 105px;
	background-color:#549C84;
	display: flex;
	text-align: center;
	justify-content: center;
}
h2
{
	font-size: 2rem;
	font-weight: 700;
	margin-top: 30px;
	color: #D6C054;
}
/*menu + articles*/
section
{
	display: flex;
	flex-direction: column;
	text-align: center;
}
/*ce qui ne bouge pas la présentation des menus*/
/*note de musique+nom du restaurant*/
#menutop
{
  text-align:center;
  line-height:70px;
  font-size:2rem;
  font-family: 'Ma Shan Zheng', cursive;
  padding-top: 10px;
	border:1px solid red;
}
#menutop i
{
  font-size:6rem;
  background: -webkit-linear-gradient(left,#D25C5C, #E89777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*menu*/
.menu
{
  text-align:center;
  background-color:#FCDFDB;
  width:90%;
  margin:auto;
}
h3::before, h3::after
{
  content:"";
  display:inline-block;
  border-top:2px solid black;
  width:35%;
  margin: 5px 50px 3px 50px;
}
h3
{
  text-align:center;
  font-family: 'Kalam', cursive;
	font-weight: 400;
	word-spacing: .1.5em;
  border:1px solid red;
}
ul
{
  list-style:none;
  border:1px solid blue;
  height:100px;
  display:inline-block;
  line-height: 145%;
  font-family: 'Kalam', cursive;
	font-weight: 300;	
}
.menu .food
{ 
  width:50%;
}
.food
{
	text-align: left;
}
/*fin note de musique+nom du restaurant*/
.menubottom
{
	font-family: 'Ma Shan Zheng', cursive;
	font-size: 1.5rem;
	border:2px solid yellow;
	margin-top: 3px;
	letter-spacing: .1.4em;
}
.menubottom i
{
  font-size:2em;
  padding-bottom:15px;
  margin:3px;
  background: -webkit-linear-gradient(left,#D25C5C, #E89777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.back i
{
  font-size:2rem;
  margin:10px;
  padding:10px;
  border-radius:50%;
  text-align:center;
  background-color: grey;
  color:white;
}
/*bas de page*/
footer
{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
	height: 99%;
	width: 100%;
	background-color: #549C84;
}
footer p,a
{
	color: #D6C054;
	text-decoration: none;
}
#mentions , #contact
{
	width: 100%;
	height: 100%;
	justify-content: center;
}