@charset "UTF-8";
/* CSS Document */
body
{
	font-family: montserrat, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	margin: 0;
	width: 100%;
	height: 100%;
}
/*début header*/
header
{
	width: 100%;
	height: 105px;
	background-color:#549C84;
	display: flex;
	text-align: center;
	justify-content: center;
}
h1
{
	font-size: 2rem;
	font-weight: 700;
	margin-top: 30px;
	color: #D6C054;
}
/*menu + articles*/
section
{
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#menu
{
	width: 80%;
	background: pink;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contenu
{
	width: 1000px;
}
/*note de musique+nom du restaurant*/
#namerest
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-around;
}
#namerest p
{
	text-align: center;
	color:black;
	line-height: 150%;
	font-family: 'Zhi Mang Xing', cursive;
	font-size: 2rem;
}
#namerest i
{
	font-size: 5rem;
	background: linear-gradient(pink,white);
	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
}
/*fin note de musique+nom du restaurant*/
/*ce qui ne bouge pas la présentation des menus*/
#entree, #plat, #dessert
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 650px;
	height: auto;
}
.titre
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 650px;
}
.titre hr
{
	width: 200px;
	height: 2px;
	color: black;
	background-color: black;
}
.ensemble
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 600px;
}
.retour
{
	width: 70px;
	height:auto;
	background-color: dimgray;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*bas de page*/
footer
{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
	height: 99%;
	width: 100%;
	background-color: #549C84;
}
footer p,a
{
	color: #D6C054;
	text-decoration: none;
}
#mentions , #contact
{
	width: 100%;
	height: 100%;
	justify-content: center;
}
