@charset "UTF-8";
/* CSS Document */
body
{
	font-family: montserrat,arial, sans-serif;
	margin: 0;
	height: 95%;
}
header
{
	width: 100%;
	height: 105px;
	background-color:#549C84;
	display: flex;
	text-align: center;
	justify-content: center;
}
h1
{
	font-size: 2rem;
	font-weight: 700;
	margin-top: 30px;
	color: #D6C054;
}
/*fin du header*/
#menu
{
	width: 70%;
	height:50%;
	background-color: #FBDCDB;
	display: flex;
	justify-content: center;
	align-content: center;
}
h2
{
	text-align: center;
}
/*bas de page*/
footer
{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
	height: 99%;
	width: 100%;
	background-color: #549C84;
}
footer p,a
{
	color: #D6C054;
	text-decoration: none;
}
#mentions , #contact
{
	width: 100%;
	height: 100%;
	justify-content: center;
}