@charset "utf-8";
/* CSS Document */
body
{
	font-family: montserrat,arial, sans-serif;
	margin: 0;
}
/*haut de page*/
header
{
	width: 100%;
	height: 105px;
	background-color:#549C84;
	display: flex;
	text-align: center;
	justify-content: center;
}
h2
{
	font-size: 2rem;
	font-weight: 700;
	margin-top: 30px;
	color: #D6C054;
}
/*début des images*/
section
{
	padding-top: 25px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	border: 1px solid red;
}
/*un menu*/
#menu1
{
	height: 350px;
	width: 240px;
	box-shadow: 2px 2px 2px 2px grey;
	background-color: #FCDFDB;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  text-align:center;
	color: black;
	  font-family: 'Ma Shan Zheng', cursive;
	font-size: 1.8rem;
}
#menu1 i
{
	font-size: 5rem;
background: -webkit-linear-gradient(left, #D25C5C, #E89777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin:10px;
  text-align:center;
  line-height:100px;
}
article h4: nth-child(1)
{
  text-transform:uppercase;
	font-family: 'kalam',cursive;
	font-size: 2rem;
}
/*fin du menu*/
#menu2
{
	height: 350px;
	width: 240px;
	box-shadow: 2px 2px 2px 2px grey;
	background-color: #FFF5FE;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  text-align:center;
	font-family: 'Satisfy', cursive;
	font-size: 1.7rem;
	color: black;
}
.txt2
{
	font-family: 'Bitter', serif;
	color:#C18C5F;
}
#deux
{
	  background: -webkit-linear-gradient(#C18C5F, #8638a8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu3
{
	height: 350px;
	width: 240px;
	box-shadow: 2px 2px 2px 2px grey;
	background-color: #EDEFEE;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  	text-align:center;
	font-family: 'Satisfy', cursive;
	font-size: 1.7rem;
	color: black;
}
.txt3
{
	font-family: 'Poppins', sans-serif;
	color:#A9D6EA;
}
#trois
{
	  background: -webkit-linear-gradient(right,#586FBC, #A9D6EA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu4
{
	height: 350px;
	width: 240px;
	box-shadow: 2px 2px 2px 2px grey;
	background-color:#FDFFFC;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  text-align:center;
	font-family: 'Satisfy', cursive;
	font-size: 1.7rem;
	color: black;
}
.txt4
{
	font-family: 'Bitter', serif;
	color:#87C67F;
}
#quatre
{
	  background: -webkit-linear-gradient(#87C67F, #D2EBB4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*Prochainement*/
aside
{
	width: 30%;
	height: 25px;
  font-family:montserrat;
	background-color: #549C84;
	text-align: center;
	color: #D6C054;
	border-radius: 15px;
  padding-top:5px;
	border: 1px solid red;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}
/*bas de page*/
footer
{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
	height: 50px;
	width: 100%;
	background-color: #549C84;
	border: 1px solid red;
}
footer p,a
{
	color: #D6C054;
	text-decoration: none;
}
#mentions , #contact
{
	width: 100%;
	height: 100%;
	justify-content: center;
}
