@charset "utf-8";
/* CSS Document */
body
{
	font-family: montserrat,arial;
	margin: 0;
}
header
{
	width: 100%;
	height: 150px;
	background-color: aliceblue;
	display: flex;
	text-align: center;
	justify-content: center;
}
header p
{
	font-size: 2em;
	font-weight: 500;
	margin-top: 75px;
}
footer
{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 100px;
	background
}